<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
         
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Añadir Cliente</h1>
              </div>
              <form ngNativeValidate [formGroup]="forma" (ngSubmit)="this.addCliente()" class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" required formControlName="nombreCliente" name="nombreCliente" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" required formControlName="apellidoCliente" name="apellidoCliente" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" required formControlName="emailCliente"  name="emailCliente" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 ">
                    <input type="tel" class="form-control form-control-user" required formControlName="telefonoCliente" Name="telefonoCliente" placeholder="Telefono">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <textarea type="Text" class="form-control form-control-user" required formControlName="direccionCliente" Name="direccionCliente" placeholder="Dirección"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Añadir Cliente
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>